.tech img{
    width: 350px;
    height: 300px;
}
.tech{
    border: 1px solid blueviolet;
    border-radius: 10px;
    background-color: cadetblue;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
}